html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

img:not(.tweet-icon) { 
	-ms-interpolation-mode: bicubic; 
	width: 100%;
}

body { 
	color: #222222;
	background-image:url('../img/light_wool.png');
}

::-moz-selection { background: white; color: black; text-shadow: none; }
::selection { background: white; color: black; text-shadow: none; }

a:link {
	text-decoration:none;
	color: inherit;
}
a:visited {
	text-decoration:none;
	color: inherit;
}
a:hover {
	text-decoration:underline;
	color: inherit;
}
a:active {
	text-decoration:underline;
	color: inherit;
}
img { vertical-align: middle;}

.header { 
	font: 300 1.5em/1.5em Source Sans Pro;
	background-color: #444; 
	padding:0 5px 0 5px;
}
@media ( max-width : 767px ) {
	.header {
		font: 300 1.5em/1.2em Source Sans Pro;
	}
}

.site-title { color: #aaa; }
.about-me {	color: #fff;  }

#post-collection {	
}

#mobile-links {
	display:none;

}
#mobile-links > a {
	margin: 0 10px 0 10px;
	font: 300 1.5em/2.0em Source Sans Pro;
}
@media ( max-width : 767px ) {
	#mobile-links {
		display: block;
		margin: 0 0 20px 0;
		font: 300 0.8em/2.0em Source Sans Pro;
		border-bottom:1px dotted #000;
		background-color: #DDD;
		text-align: center; 
	}
}
.post-header {
	font: 700 1.5em/2.0em Source Sans Pro;
}
.post-tweet {
	font: 300 1.0em/1.2em Source Sans Pro;
	border-bottom:1px dotted #AAAAAA;
	padding: 0 0 10px 0;
}
.post-tweet > a {
	margin: 0 10px 0 0;
}
.tweet-icon {
	width: 15px;
	height: auto;
	margin: 0 5px 0 0;
}

.post-title {
	margin-top: 1.0em;
}
.post-title > .post-title-text {
	font: 400 1.5em/1.5em Source Sans Pro;
	color: #003366;
}
.post-subtitle {
	font: 300 1.0em/1.2em Source Sans Pro;
	color: #003366;
	margin-bottom: 1em;
}
.post-instructional {
	font: 300 0.7em/0.8em Source Sans Pro;
	color: #222; 
	padding: 0.4em;
	display:none;
}
.post-paragraph {
	font: 300 1.2em/1.4em Source Sans Pro;
}
.post-paragraph p {
	margin-bottom: 0.8em;
}

@media print {
	img { max-width: 100% !important; }
}